@media screen and (min-width: 800px) {
    /* Your desktop styles here */
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    
    }
    
    #background-video {
        position: absolute;
        right: 0;
        bottom: 0;
     
        width: 100%;
        height: auto;
        z-index: -1;
        top: 1;
        background-size: cover;
    }
    .topbar{
        float: left;
        width: 97%;
        background-color: rgba(6, 0, 92, 0.534);
        position: fixed;
        z-index: 100;
        transition: background-color 0.5s ease;
        border-radius: 30px;
        margin: 0.75%;
        
    }
    .scrolled {
        background-color:rgba(4, 1, 44, 0.966);
    }
    .topbar .space{
        width: 12%;
        float: left;
        height: 10px;
        
    }
    .topbar .topbarbtn {
        margin-top: 1.5%;
        margin-left: 1.25%;
        width: 10%;
        height: 2px;
        float: left;
        border: none;
        color: white;
        background-color: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 100%;
       
        
    }
    .topbar .topbarbtn:hover{
        background-color: rgb(17, 220, 37);
        color: rgb(17, 220, 37);
        font-size: 110%;
        cursor: pointer;
    }
    .topbar .topbarbtn:active{
        background-color: rgb(218, 230, 219);
        color:rgb(218, 230, 219);
        font-size: 100%;
        
    }
    .topbar .ticon{
        min-width: 100px;
        width: 14%;
        float: left;
        margin-top: 1%;
        margin-left: 2%;
    }
     .hr{
       position: relative;
        width: 80%;
        height: 70%;
        background-color: rgba(240, 248, 255, 0);
        margin-top: 10%;
        text-align: center;
        padding: 3%;
        font-size: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        color: white;
        font-style: italic;
        margin-left: 5%;
        float: left;
    }
    .vm{
        width: 100%;
        height: 40%;
        background-color: aliceblue;
        float: left;
        position: relative;
    }
    .hidden {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s, transform 0.5s;
    }
    
    /* Animation when the popup text becomes visible */
    .visible {
        opacity: 1;
        transform: translateY(0);
    }
















}

/* Styles for mobile */
/* These styles will apply to screens with a maximum width of 767 pixels */
@media screen and (max-width: 767px) {


    .topbarbtn{
        visibility: hidden;
    }
    /* Your mobile styles here */
    .container {
        width: 100%;
        padding: 10px;
    }
}